Checks: >
  cppcoreguidelines-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-default-member-init,
  modernize-use-emplace,
  performance-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: ''

HeaderFilterRegex: '(ct_core|ct_viewer)/.*\.(h|hpp)$'
